CLAWSHIELD_APP_NAME=ClawShield Demo
CLAWSHIELD_DEBUG=false
CLAWSHIELD_DATABASE_URL=sqlite:///./app/data/clawshield.db
CLAWSHIELD_RULES_PATH=rules/boundary_rules.yaml
CLAWSHIELD_RISK_RULES_PATH=rules/risk_rules.yaml
CLAWSHIELD_WORKSPACE_ROOT=app/data/sample_workspace
